body {
    font-family: Arial, sans-serif;
    text-align: center;
    background: #f4f4f4;
    margin: 0;
}

h1 {
    margin: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

.gallery img {
    width: 100%;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
 
}

.gallery img:hover {
    transform: scale(1.05);
}
.flex-container {
    display: flex;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    background-color: #959799;
}


.box {
    background-color: #1176e1;
    color: white;
    padding: 15px;
    text-align: center;
    border-radius: 5px;
    flex: 1;
    min-width: 100px;
}
